@using Game_APP.Setting
@model CreateGameFormViewModel 
@{
    ViewData["Title"] = "Create" ; 


}
<div asp-validation-summary="All"></div>

<form asp-controller="Game" asp-action="Create"   asp-route-name="mm" enctype="multipart/form-data">
    <div  class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Name" class="form-label mt-4"></label>
                    <input class="form-control"  asp-for="Name" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <br /> 

                <div class="form-group">
                    <label asp-for="CategoryId" class="form-label mt-4"></label>
                    <select class="form-select " asp-for="CategoryId" asp-items="Model.Categories" >
                        <option value="" disabled selected>select</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <br />


                <div class="form-group">
                    <label asp-for="SelectedDevices" class="form-label mt-4"></label>
                    <select class="form-select" asp-for="SelectedDevices" asp-items="Model.Devices" >
                        <option></option>
                    </select>
                    <span asp-validation-for="SelectedDevices" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Description" class="form-label mt-4"></label>
                    <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Cover" class="form-label mt-4"></label>
                    <input type="file" class="form-control" asp-for="Cover"  />
                    <small class="form-text text-muted">Only AllowedExtensions files are allowed with max size.</small>
                    <span asp-validation-for="Cover" class="text-danger d-block"></span>
                </div>


                <br />
                <button type="submit" class="btn btn-primary">Save</button>

            </div>

        </div>

    </div>

</form>








@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
}








